@import 'tailwindcss';

@source "../../apps/**/*.{ts,tsx,js,jsx}";
@source "../ui/**/*.{ts,tsx,js,jsx}";

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --font-pretendard: 'Pretendard Variable';

  --spacing-logo: 140px;

  --radius-XS: 4px;
  --radius-S: 10px;
  --radius-M: 24px;
  --radius-L: 30px;
  --radius-FULL: 1000px;

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --shadow-modal-l:
    0px 4px 10px 2px rgba(0, 0, 0, 0.06), 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow-modal-s: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-in: fade-in 200ms ease-out;
  --animate-out: fade-out 150ms ease-in;

  --color-black: #000000;
  --color-white: #ffffff;

  /* Yellow Palette */
  --color-yellow-5: #fffbef;
  --color-yellow-10: #fffbe0;
  --color-yellow-20: #ffe8a2;
  --color-yellow-30: #ffdf77;
  --color-yellow-40: #ffd449;
  --color-yellow-50: #ebbf33;
  --color-yellow-60: #c2a135;
  --color-yellow-70: #a68a2e;
  --color-yellow-80: #937922;
  --color-yellow-90: #6a581c;
  --color-yellow-95: #4b3e10;
  --color-yellow-99: #352b09;

  /* Purple Palette */
  --color-purple-5: #faf2ff;
  --color-purple-10: #f2e0ff;
  --color-purple-20: #daccff;
  --color-purple-30: #bca4ff;
  --color-purple-40: #a67aff;
  --color-purple-50: #9268e9;
  --color-purple-60: #7a4bdc;
  --color-purple-70: #663eb8;
  --color-purple-80: #492eb5;
  --color-purple-90: #2d1c52;
  --color-purple-95: #130d37;
  --color-purple-99: #020106;

  /* Gray Palette */
  --color-gray-5: #f4f4f4;
  --color-gray-10: #f1f1f1;
  --color-gray-20: #eeeeee;
  --color-gray-30: #dddddd;
  --color-gray-40: #bbbbbb;
  --color-gray-50: #999999;
  --color-gray-60: #8e8e8e;
  --color-gray-70: #777777;
  --color-gray-80: #606060;
  --color-gray-90: #333333;
  --color-gray-95: #222222;
  --color-gray-99: #111111;

  /* Red Palette */
  --color-red-5: #fef0f0;
  --color-red-10: #fedede;
  --color-red-20: #ffc4c3;
  --color-red-30: #eeaaaa;
  --color-red-40: #ff6060;
  --color-red-50: #f83537;
  --color-red-60: #e2161d;
  --color-red-70: #b81418;
  --color-red-80: #931819;
  --color-red-90: #761d1c;
  --color-red-95: #3d0f0e;
  --color-red-99: #230504;

  /* Orange Palette */
  --color-orange-5: #fff6eb;
  --color-orange-10: #feebd0;
  --color-orange-20: #dd3a1d;
  --color-orange-30: #ffb386;
  --color-orange-40: #ff8325;
  --color-orange-50: #ff6500;
  --color-orange-60: #f14a00;
  --color-orange-70: #c13704;
  --color-orange-80: #942d12;
  --color-orange-90: #722914;
  --color-orange-95: #3b150c;
  --color-orange-99: #210903;

  /* Blue Palette */
  --color-blue-5: #edf4fe;
  --color-blue-10: #d7e6fd;
  --color-blue-20: #8bd4fd;
  --color-blue-30: #87bbff;
  --color-blue-40: #5194ff;
  --color-blue-50: #396fff;
  --color-blue-60: #2e4cf6;
  --color-blue-70: #2a3bdb;
  --color-blue-80: #262fac;
  --color-blue-90: #222f80;
  --color-blue-95: #19204a;
  --color-blue-99: #080d28;

  /* Surface */
  --color-surface1: var(--color-white);
  --color-surface2: var(--color-gray-5);
  --color-surface-var1: var(--color-yellow-5);
  --color-surface-var2: var(--color-purple-5);

  /* Primary */
  --color-primary-box: var(--color-yellow-40);
  --color-primary-box-var1: var(--color-yellow-20);
  --color-primary-box-var2: var(--color-yellow-30);
  --color-primary-box-var3: var(--color-yellow-80);
  --color-primary-line: var(--color-yellow-80);
  --color-primary-on: var(--color-yellow-99);
  --color-primary-on-var: var(--color-yellow-60);

  /* Secondary */
  --color-secondary-box: var(--color-purple-20);
  --color-secondary-box-on: var(--color-purple-70);
  --color-secondary-box-var1: var(--color-purple-30);
  --color-secondary-box-var2: var(--color-purple-40);
  --color-secondary-box-line: var(--color-purple-50);
  --color-secondary-line: var(--color-purple-50);
  --color-secondary-on: var(--color-purple-70);

  /* Text */
  --color-text1: var(--color-gray-70);
  --color-text2: var(--color-gray-99);
  --color-text-line: var(--color-gray-40);
  --color-text-box: var(--color-gray-20);
  --color-text-box-var: var(--color-gray-30);

  /* System */
  --color-icon: var(--color-black);
  --color-error-box: var(--color-red-10);
  --color-error-on: var(--color-red-40);
  --color-warning-box: var(--color-orange-10);
  --color-warning-on: var(--color-orange-40);
  --color-success-box: var(--color-blue-10);
  --color-success-on: var(--color-blue-40);
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply font-pretendard;
  }
}

@layer components {
  .btn-press-effect:not(:disabled) {
    @apply transition-[transform] duration-[500ms] ease-[cubic-bezier(0.15,_1.15,_0.35,_1.05)] active:translate-y-1;
  }
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@utility flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@utility text-display-l {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.025em;
  font-weight: 700;
}

@utility text-display-s {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.025em;
  font-weight: 700;
}

@utility text-headline-l {
  font-size: 28px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600;
}

@utility text-headline-s {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600;
}

@utility text-title-l {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600;
}

@utility text-title-s {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600;
}

@utility text-body-l2 {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600;
}

@utility text-body-l1 {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 500;
}

@utility text-body-s2 {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600;
}

@utility text-body-s1 {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 500;
}

@utility text-body-s0 {
  font-size: 14px;
  line-height: 160%;
  letter-spacing: -0.025em;
  font-weight: 400;
}

@utility text-label-l2 {
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 600;
}

@utility text-label-l1 {
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 500;
}

@utility text-label-s {
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 500;
}

:root {
  --scrollbar-track: transparent;
  --scrollbar-thumb: rgba(0, 0, 0, 0.5);
  --scrollbar-thumb-hover: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar {
  width: 4px; /* 스크롤바 너비 4px로 설정 */
  height: 60px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px; /* 너비에 맞게 둥글게 처리 */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* 2. Firefox */
* {
  scrollbar-width: thin; /* Firefox에서는 픽셀 단위 지정이 안되므로 'thin'으로 설정 */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
