@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --font-pretendard: 'Pretendard Variable';

  --color-black: #000000;
  --color-white: #ffffff;

  /* Yellow Palette */
  --color-yellow-5: #fffbef;
  --color-yellow-10: #fffbe0;
  --color-yellow-20: #ffe8a2;
  --color-yellow-30: #ffdf77;
  --color-yellow-40: #ffd449;
  --color-yellow-50: #ebbf33;
  --color-yellow-60: #c2a135;
  --color-yellow-70: #a68a2e;
  --color-yellow-80: #937922;
  --color-yellow-90: #6a581c;
  --color-yellow-95: #4b3e10;
  --color-yellow-99: #352b09;

  /* Purple Palette */
  --color-purple-5: #faf2ff;
  --color-purple-10: #f2e0ff;
  --color-purple-20: #daccff;
  --color-purple-30: #bca4ff;
  --color-purple-40: #a67aff;
  --color-purple-50: #926ee9;
  --color-purple-60: #7a4bdc;
  --color-purple-70: #663eb8;
  --color-purple-80: #492eb5;
  --color-purple-90: #2d1c52;
  --color-purple-95: #130d37;
  --color-purple-99: #020106;

  /* Gray Palette */
  --color-gray-5: #f4f4f4;
  --color-gray-10: #f1f1f1;
  --color-gray-20: #eeeeee;
  --color-gray-30: #dddddd;
  --color-gray-40: #bbbbbb;
  --color-gray-50: #999999;
  --color-gray-60: #8e8e8e;
  --color-gray-70: #777777;
  --color-gray-80: #606060;
  --color-gray-90: #333333;
  --color-gray-95: #222222;
  --color-gray-99: #111111;

  /* Red Palette */
  --color-red-5: #fff0f0;
  --color-red-10: #fedede;
  --color-red-20: #ffc4c3;
  --color-red-30: #ffaaaa;
  --color-red-40: #ffb090;
  --color-red-50: #f83537;
  --color-red-60: #e2161d;
  --color-red-70: #bb1418;
  --color-red-80: #931819;
  --color-red-90: #76101c;
  --color-red-95: #3d0f0e;
  --color-red-99: #230504;

  /* Orange Palette */
  --color-orange-5: #fff6eb;
  --color-orange-10: #feebd0;
  --color-orange-20: #dd3a1d;
  --color-orange-30: #ffb386;
  --color-orange-40: #ff8325;
  --color-orange-50: #ff6500;
  --color-orange-60: #f14a00;
  --color-orange-70: #c13704;
  --color-orange-80: #942d12;
  --color-orange-90: #722914;
  --color-orange-95: #3b150c;
  --color-orange-99: #210903;

  /* Blue Palette */
  --color-blue-5: #edf4fe;
  --color-blue-10: #d7e6fd;
  --color-blue-20: #8bd4fd;
  --color-blue-30: #87bbff;
  --color-blue-40: #5194ff;
  --color-blue-50: #396fff;
  --color-blue-60: #2e4cf6;
  --color-blue-70: #2a3bdb;
  --color-blue-80: #262fac;
  --color-blue-90: #222f80;
  --color-blue-95: #19204a;
  --color-blue-99: #080d28;
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply font-pretendard;
  }
}
