name: Frontend CI/CD Pipeline

on:
  push:
    branches: ['main']

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # [중요] 빌드 전에 환경 변수 파일(.env)을 생성합니다.
      - name: Create .env file
        run: |
          echo "NEXT_PUBLIC_BE_BASE_URL=${{ secrets.NEXT_PUBLIC_BE_BASE_URL }}" >> apps/web/.env
          echo "NEXT_PUBLIC_FE_BASE_URL=${{ secrets.NEXT_PUBLIC_FE_BASE_URL }}" >> apps/web/.env
          echo "NEXT_PUBLIC_CLOUD_INARY_URL=${{ secrets.NEXT_PUBLIC_CLOUD_INARY_URL }}" >> apps/web/.env
          echo "NEXT_PUBLIC_GOOGLE_CLIENT_ID=${{ secrets.NEXT_PUBLIC_GOOGLE_CLIENT_ID }}" >> apps/web/.env
          echo "NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=${{ secrets.NEXT_PUBLIC_GOOGLE_CLIENT_SECRET }}" >> apps/web/.env
          echo "NEXT_PUBLIC_GOOGLE_REDIRECT_URI=${{ secrets.NEXT_PUBLIC_GOOGLE_REDIRECT_URI }}" >> apps/web/.env

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/frontend-server:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 팀원이 지정한 서버 내 경로로 이동
            cd /home/ec2-user/dev/helloworld-platform 
            # 최신 이미지를 받아오고 frontend 서비스만 재시작
            docker compose -f docker-compose.dev.yml pull frontend
            docker compose -f docker-compose.dev.yml up -d frontend
            # 사용하지 않는 오래된 이미지 정리
            docker image prune -f
