name: HW-CI/CD-only-main-push

on:
  push:
    branches:
      - main

jobs:
  deploy-production:
    runs-on: ubuntu-latest

    env:
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Tests (Lint & Test)
        run: |
          pnpm lint

          - name: Build and Deploy to Vercel
          run: |
            pnpm dlx vercel pull --yes --token=$VERCEL_TOKEN
            pnpm dlx vercel build --prod
            pnpm dlx vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN
